mixin about
  section.about
    h2.about__title #{l.about.title}
    .about__description
      h3.about__caption #{l.about.mission.h}
      p.about__text #{l.about.mission.p}
      h3.about__caption #{l.about.offer.h}
      p.about__text #{l.about.offer.p}
