mixin about
  section.about
    h2.about__title #{l.features.title}
    .about__description
      h3.about__caption #{l.features.list.mission.h}
      p.about__text #{l.features.list.mission.p}
      h3.about__caption #{l.features.list.offer.h}
      p.about__text #{l.features.list.offer.p}
