mixin main-menu(page)
  nav.main-menu
    ul.main-menu__list
      each val in l["main-menu"]
        if val.list
          li.main-menu__dropdown-container
            span.main-menu__item.main-menu__dropdown-btn= val.title
            ul.main-menu__dropdown
              each item in val.list
                li
                  a.main-menu__item.main-menu__item--dropdown(href=item.href)= item.title
        else
          li
            a.main-menu__item(href=val.href)= val.title
      li.main-menu__dropdown-container
        span.main-menu__item.main-menu__dropdown-btn #{l.lang}
        ul.main-menu__dropdown
          li
            a.main-menu__item.main-menu__item--dropdown(href=`../ua/${page}`) ua
          li
            a.main-menu__item.main-menu__item--dropdown(href=`../ru/${page}`) ru
