mixin contacts(modifier)
  address.contacts(class=modifier)&attributes(attributes)
    ul.contacts__list
      each val in l.contacts.list
        li.contacts__item
          case val.type
            when "phone"
              a.contacts__link.contacts__phone(href=`tel:${val.value}`) #{val.value}
                svg.contacts__icon(width="20" height="20")
                  use(xlink:href="#icon-phone")
            when "email"
              a.contacts__link.contacts__email(href=`mailto:${val.value}`) #{val.value}
                svg.contacts__icon(width="20" height="20")
                  use(xlink:href="#icon-mail")
            when "address"
              span.contacts__address #{val.value}
                svg.contacts__icon(width="20" height="20")
                  use(xlink:href="#icon-address")
