mixin advantages
  section.advantages&attributes(attributes)
    h2.advantages__title #{l.advantages.title}
    ul.advantages__list
      each val, index in l.advantages.list
        li.advantages__item(class=`advantages__item--${index}`)
          svg.advantages__icon(width="50" height="50")
            use(xlink:href=`#icon-${index}`)
          h3.advantages__item-title #{val.h}
          p.advantages__text #{val.p}
